:root {
  --blue: #00a9cf;
  --orange: #fb4500;
  --font: "Readex Pro", sans-serif;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

::selection {
  background-color: var(--blue);
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html, body {
  background: #101010;
  font-family: system-ui, sans-serif;
  line-height: 1.1;
  overflow: hidden;
}

a {
  color: var(--blue);
}

h1 {
  color: #fff;
  font-family: var(--font);
  font-size: 2.5rem;
  width: min(70%, 400px);

  .blue {
    color: var(--blue);
    text-transform: uppercase;
  }
}

form {
  width: min(70%, 400px);
}

button {
  background: linear-gradient(to right, #ff6d6d, var(--orange));
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  width: max(100%, 250px);
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(1px);
}

button:hover {
  background: linear-gradient(to right, var(--orange), #ff6d6d);
}

input {
  appearance: none;
  background: #232323;
  border: 1px solid #323232;
  border-radius: 3px;
  color: #fff;
  font-family: var(--font);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: max(100%, 250px);
}

input:valid + span.valid::after {
  border-bottom: 3px solid var(--blue);
  border-right: 3px solid var(--blue);
  content: '';
  display: inline-block;
  height: 10px;
  width: 4px;
  position: absolute;
  transform: rotate(36deg);
  right: 10px;
  top: 20px;
}

input:focus {
  outline: 1px solid var(--blue);
}

input::placeholder {
  font-size:.9rem;
}

.input-container {
  position: relative;
}

.pwd-note {
  animation: slide-in 300ms;
  color: #777;
  display: none;
  font-size: .8rem;
  margin-bottom: 1rem;
}

label {
  animation: slide-in 300ms;
  color: #c3c3c3;
  display: none;
  font-size: .8rem;
  right: 10px;
  position: absolute;
  top: 5px;
}

label.focused {
  color: #555;
  display: block;
}

main {
  display: flex;
  height: 100vh;
}

.hero {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 60vw;

  .logo {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 0;
    color: #fff;
    font-size: 3rem;
    right: 0;
    padding: 0 .3rem;
    position: absolute;
    top: 1rem;
    z-index: 1;
  
    span {
      color: var(--blue);
      display: block;
      font-weight: 600;
    }
  }

  span.credits {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 3px;
    color: #999;
    display: block;
    font-size: .7rem;
    margin-bottom: 1rem;
    padding: .5rem;
    z-index: 1;
  }

  img {
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    width: 60vw;
  }

  .hidden {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.top {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #main {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .hero {
    position: static;
    width: auto;

    span.credits {
      display: none;
    }

    img {
      opacity: .1;
      width: 100vw;
    }
  }

  .info {
    width: 100vw;
    z-index: 1;
  }
}