* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {

}

main {
  display: flex;
  height: 100vh;
}

.hero {
  width: 45vw;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55vw;
}

.top {
  display: flex;
  align-items: center;
  height: 33vh;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.sign-up {
  display: flex;
  align-items: center;
  height: 66vh;
  justify-content: center;
}

form {
  width: 66%;
}

input {
  appearance: none;
}